<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dashboard Vendas</title>
</head>
<body>
    <div>
        <iframe width="933" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiOWU2Y2U5NGQtZmUzMS00YjA4LWEyMmItMTRlYTNjNjhjNmViIiwidCI6IjRkYjc2ZTA3LTI0MjEtNDNmNi1hMGI4LTZjYzc4MWQ4NWQ0NiJ9" frameborder="0" allowFullScreen="true"></iframe>
    </div>
</body>
</html>
